bin/
pkg/
.DS_Store
*.pyc
*.swp
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
.project
.eclipse.buildship.core.prefs
src/productcatalogservice/intern-prj-2-9c51b73cedce.json

# Local .terraform directory
.terraform

# .tfstate files
terraform.tfstate
terraform.tfstate.backup
